Repository FlawlessPT/yellow-project: changes, and which Bitbucket steps are due for each by the changed paths.
All: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

Backoffice lint and type checks:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-backoffice true
  - cd ../BackofficeCMS
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint

Mobile app lint and type checks:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-mobile true
  - cd ../RNMobileApp
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint

Deployment of Backoffice web app to preview:
  caches:
  - yarn
  - node
  deployment: backoffice-staging
  script:
  - export SUPABASE_DB_PASSWORD=$SUPABASE_DB_PASSWORD_STAGING
  - export SUPABASE_URL=$SUPABASE_PROJECT_URL_STAGING
  - export SUPABASE_API_KEY=$SUPABASE_API_KEY_STAGING
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs
  ...

Deployment of Backoffice web app to staging:
  caches:
  - yarn
  - node
  deployment: backoffice-staging
  script:
  - export SUPABASE_DB_PASSWORD=$SUPABASE_DB_PASSWORD_STAGING
  - export SUPABASE_URL=$SUPABASE_PROJECT_URL_STAGING
  - export SUPABASE_API_KEY=$SUPABASE_API_KEY_STAGING
  - cd supabase
  - yarn install --frozen-lockfile
  ...

Deployment of Android App to staging:
  max-time: 30
  caches:
  - yarn
  - gradle
  - gradle-wrapper
  - node
  deployment: android-staging
  image: reactnativecommunity/react-native-android:latest
  size: 2x
  artifacts:
  - RNMobileApp/android/app/build/outputs/**
  script:
  - export SUPABASE_DB_PASSWORD=$SUPABASE_DB_PASSWORD_STAGING
  ...

Configuring sourcemaps for sentry
  BackofficeCMS/.gitignore
  BackofficeCMS/package.json
  BackofficeCMS/src/pages/ForgotPasswordForm/ForgotPasswordForm.tsx
  BackofficeCMS/vite.config.ts
  BackofficeCMS/yarn.lock
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Env variables for sentry, through pipelines
  BackofficeCMS/src/main.tsx
  BackofficeCMS/src/pages/ForgotPasswordForm/ForgotPasswordForm.tsx
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Configuring sercer tracing url for sentry
  BackofficeCMS/src/main.tsx
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Removing code test for Sentry
  BackofficeCMS/src/pages/ForgotPasswordForm/ForgotPasswordForm.tsx
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Configuring react-native-config - Android and iOS
  RNMobileApp/.gitignore
  RNMobileApp/android/app/build.gradle
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
  bitbucket-pipelines.yml
Due: Mobile app lint and type checks, Deployment of Android App to staging

Sentry setup for android and some improvements on pipelines
  BackofficeCMS/src/main.tsx
  RNMobileApp/.env.example
  RNMobileApp/App.tsx
  RNMobileApp/android/app/build.gradle
  RNMobileApp/android/sentry.properties
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/package.json
  RNMobileApp/screens/Auth/Auth.tsx
  RNMobileApp/yarn.lock
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

Experimenting removing sentry sensitive file on Android
  RNMobileApp/android/sentry.properties
  RNMobileApp/screens/Auth/Auth.tsx
  bitbucket-pipelines.yml
Due: Mobile app lint and type checks, Deployment of Android App to staging

Sentry setup for ios
  RNMobileApp/App.tsx
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
  RNMobileApp/ios/sentry.properties
  RNMobileApp/screens/Auth/Auth.tsx
Due: Mobile app lint and type checks, Deployment of Android App to staging

Sentry with user identity
  BackofficeCMS/src/App.tsx
  BackofficeCMS/src/utils/supabase.authProvider.ts
  RNMobileApp/App.tsx
  RNMobileApp/screens/Account/Account.tsx
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

Trying to get email from profile
  BackofficeCMS/src/utils/supabase.authProvider.ts
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Removing sentry test code
  BackofficeCMS/src/App.tsx
  RNMobileApp/screens/Account/Account.tsx
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

Fix: ios sentry.properties or SENTRY_ envs only needed on CI
  RNMobileApp/App.tsx
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
  RNMobileApp/ios/sentry.properties
  RNMobileApp/utils/supabase.ts
  mw-mobile-backoffice-recipe.code-workspace
Due: Mobile app lint and type checks, Deployment of Android App to staging

sentry.properties to .gitignore on mobile app
  RNMobileApp/.gitignore
Due: Mobile app lint and type checks, Deployment of Android App to staging

Fix: ios sentry.properties or SENTRY_ envs only needed on CI
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
Due: Mobile app lint and type checks, Deployment of Android App to staging

Merged in feature-flag-experiment (pull request #11)
  BackofficeCMS/src/App.tsx
  BackofficeCMS/src/components/InputForColumn/InputForColumn.tsx
  BackofficeCMS/src/configs/configs.ts
  BackofficeCMS/src/types/configs.ts
  RNMobileApp/App.tsx
  RNMobileApp/screens/Auth/Auth.tsx
  RNMobileApp/utils/contexts/feature-flags.tsx
  RNMobileApp/utils/contexts/index.ts
  supabase/migrations/20231011142853_feature_flags_table.sql
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

feature-flags fix
  RNMobileApp/utils/contexts/feature-flags.tsx
Due: Mobile app lint and type checks, Deployment of Android App to staging

removing ruby-version file
  RNMobileApp/ios/.ruby-version
  RNMobileApp/ios/Podfile.lock
Due: Mobile app lint and type checks, Deployment of Android App to staging

Feature flag by roles
  BackofficeCMS/src/configs/configs.ts
  RNMobileApp/App.tsx
  RNMobileApp/utils/contexts/feature-flags.tsx
  supabase/migrations/20231013124902_add_roles_column_feature_flags.sql
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

Merged in ios-pipelines-macos-runner (pull request #14)
  RNMobileApp/fastlane/Fastfile
  RNMobileApp/fastlane/Matchfile
  RNMobileApp/fastlane/README.md
  RNMobileApp/ios/Podfile
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/1024.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/114.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/120.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/180.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/29.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/40.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/57.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/58.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/60.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/80.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/87.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/Contents.json
  RNMobileApp/ios/RNMobileApp/Images.xcassets/Contents.json
  RNMobileApp/ios/RNMobileApp/Info.plist
  RNMobileApp/ios/RNMobileApp/RNMobileApp.entitlements
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
  bitbucket-pipelines.yml
Due: Mobile app lint and type checks, Deployment of Android App to staging

Merged in changelog-testflight (pull request #17)
  RNMobileApp/fastlane/Fastfile
  RNMobileApp/ios/Podfile
  bitbucket-pipelines.yml
Due: Mobile app lint and type checks, Deployment of Android App to staging

Merged in supabase-migrations-pipelines (pull request #18)
  bitbucket-pipelines.yml
Due: none

Merged in fastlane-android (pull request #20)
  RNMobileApp/.env.example
  RNMobileApp/android/app/build.gradle
  RNMobileApp/fastlane/Fastfile
  RNMobileApp/fastlane/README.md
  bitbucket-pipelines.yml
Due: Mobile app lint and type checks, Deployment of Android App to staging

Fix android pipeline for main branch
  bitbucket-pipelines.yml
Due: none

Fix android pipeline for main branch
  RNMobileApp/App.tsx
Due: Mobile app lint and type checks, Deployment of Android App to staging

Trying to increment build number using test flight information
  RNMobileApp/fastlane/Fastfile
Due: Mobile app lint and type checks, Deployment of Android App to staging

build_number string
  RNMobileApp/fastlane/Fastfile
Due: Mobile app lint and type checks, Deployment of Android App to staging

Merged in ios-authkey-base64 (pull request #22)
  RNMobileApp/App.tsx
  bitbucket-pipelines.yml
Due: Mobile app lint and type checks, Deployment of Android App to staging

Merged in pipeline-steps-reusage (pull request #23)
  BackofficeCMS/src/App.tsx
  RNMobileApp/App.tsx
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

Merged in pipeline-reuse-scripts-steps (pull request #24)
  BackofficeCMS/src/App.tsx
  bitbucket-pipelines.yml
  pipelines/executables/setup-backoffice-build.sh
  pipelines/executables/setup-backoffice-production-env.sh
  pipelines/executables/setup-backoffice-staging-env.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

reusing scripts for supabase and ios components
  bitbucket-pipelines.yml
  pipelines/executables/ios-deploy-testflight.sh
  pipelines/executables/setup-ios-build.sh
  pipelines/executables/setup-mobile-app-staging-env.sh
  pipelines/executables/supabase-db-push.sh
Due: none

reusing scripts for supabase and ios components
  BackofficeCMS/src/App.tsx
  RNMobileApp/App.tsx
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging

reusing scripts for supabase and ios components
  BackofficeCMS/src/App.tsx
  pipelines/executables/ios-deploy-testflight.sh
  pipelines/executables/setup-ios-build.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

reusing scripts for supabase and ios components
  pipelines/executables/ios-deploy-testflight.sh
Due: none

debug pipelines
  pipelines/executables/supabase-db-push.sh
Due: none

Fix supabase db push pipeline
  bitbucket-pipelines.yml
  pipelines/executables/supabase-db-push.sh
Due: none

Merged in pipelines-android-reuse (pull request #26)
  bitbucket-pipelines.yml
  pipelines/executables/android-build-and-deploy-staging.sh
  pipelines/executables/ios-build-and-deploy-staging.sh
  pipelines/executables/setup-android-build.sh
  pipelines/executables/setup-ios-build.sh
  pipelines/executables/setup-mobile-app-for-build.sh
Due: none

Path conditions:
  Backoffice lint and type checks: any of: BackofficeCMS/**
  Mobile app lint and type checks: any of: RNMobileApp/**
  Deployment of Backoffice web app to preview: any of: BackofficeCMS/**
  Deployment of Backoffice web app to staging: any of: BackofficeCMS/**
  Deployment of Android App to staging: any of: RNMobileApp/**
