Repository FlawlessPT/yellow-project: changes, and which Bitbucket steps are due for each by the changed paths.
All: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

Backoffice lint and type checks:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-backoffice true
  - cd ../BackofficeCMS
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint

Mobile app lint, type checks and tests:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-mobile true
  - cd ../RNMobileApp
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint
  - yarn test

Deployment of Backoffice web app to preview:
  caches:
  - yarn
  - node
  deployment: backoffice-preview
  script:
  - source ./pipelines/executables/setup-backoffice-staging-env.sh
  - export VITE_SENTRY_ENVIRONMENT=preview-$BITBUCKET_BRANCH
  - source ./pipelines/executables/setup-backoffice-build.sh
  ...

Deployment of Android App to preview:
  max-time: 30
  caches:
  - yarn
  - gradle
  - gradle-wrapper
  - bundler
  - node
  deployment: android-preview
  trigger: manual
  image: reactnativecommunity/react-native-android:latest
  size: 2x
  script:
  - source ./pipelines/executables/setup-android-build.sh
  - cd RNMobileApp
  ...

Deployment of IOS App to preview:
  runs-on:
  - self.hosted
  - macos
  deployment: ios-preview
  trigger: manual
  script:
  - export APP_TEST_FLIGHT_CHANGE_LOG='Preview app from branch $BITBUCKET_BRANCH and commit $BITBUCKET_COMMIT, build $BITBUCKET_BUILD_NUMBER'
  - source ./pipelines/executables/setup-ios-build.sh
  - cd RNMobileApp
  ...

Deployment of Backoffice web app to staging:
  caches:
  - yarn
  - node
  deployment: backoffice-staging
  script:
  - source ./pipelines/executables/setup-backoffice-staging-env.sh
  - source ./pipelines/executables/setup-backoffice-build.sh
  - vercel pull --yes --environment=production --token=$VERCEL_TOKEN
  - vercel build --prod --token=$VERCEL_TOKEN
  ...

Deployment of Android App to staging:
  max-time: 30
  caches:
  - yarn
  - gradle
  - gradle-wrapper
  - bundler
  - node
  deployment: android-staging
  image: reactnativecommunity/react-native-android:latest
  size: 2x
  script:
  - source ./pipelines/executables/setup-android-build.sh
  - cd RNMobileApp
  - echo "VERSION_NAME=$BITBUCKET_COMMIT" >> .env
  ...

Deployment of IOS App to staging:
  runs-on:
  - self.hosted
  - macos
  deployment: ios-staging
  script:
  - export APP_TEST_FLIGHT_CHANGE_LOG='Staging app from main and commit $BITBUCKET_COMMIT, build $BITBUCKET_BUILD_NUMBER'
  - source ./pipelines/executables/setup-ios-build.sh
  - cd RNMobileApp
  - echo "SENTRY_ENVIRONMENT=staging" >> .env
  ...

Deployment of Backoffice web app to production:
  caches:
  - yarn
  - node
  deployment: backoffice-production
  trigger: manual
  script:
  - source ./pipelines/executables/setup-backoffice-production-env.sh
  - source ./pipelines/executables/setup-backoffice-build.sh
  - vercel pull --yes --environment=production --token=$VERCEL_TOKEN
  ...

feat: update .npmrc
  BackofficeCMS/.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

wip
  BackofficeCMS/.eslintrc.cjs
  BackofficeCMS/.gitignore
  BackofficeCMS/.npmrc
  BackofficeCMS/package.json
  BackofficeCMS/scripts/generate_npmrc.js
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update filename
  BackofficeCMS/package.json
  BackofficeCMS/scripts/generate-npmrc.js
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

improve script
  BackofficeCMS/package.json
  BackofficeCMS/scripts/generate-npmrc.js
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

wip
  BackofficeCMS/scripts/build.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

wip
  BackofficeCMS/scripts/generate-npmrc.js
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feat: move generate-npmrc script to project root and some minox fix and updates
  BackofficeCMS/package.json
  BackofficeCMS/scripts/generate-npmrc.js
  RNMobileApp/.gitignore
  RNMobileApp/.npmrc
  bitbucket-pipelines.yml
  common/.gitignore
  common/.npmrc
  package.json
  scripts/generate-npmrc.cjs
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

feat: add generate-npmrc to backofficecms folder
  BackofficeCMS/package.json
  BackofficeCMS/scripts/generate-npmrc.js
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

fix migrations errors
  supabase/migrations/20240711144501_create_subscription_types_benefits_table.sql
  supabase/migrations/20240711150143_create_trainings_table.sql
  supabase/migrations/20240711150530_create_food_plans_table.sql
  supabase/migrations/20240711150724_create_consumables_table.sql
  supabase/migrations/20240711150813_create_consumables_meals_table.sql
  supabase/migrations/20250205120049_add_consumables_policies.sql
Due: none

remove keys from .env and add supabase configs to .gitignore
  BackofficeCMS/.env.development
  BackofficeCMS/.gitignore
  BackofficeCMS/src/utils/supabase.configs.ts
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

possible fix
  BackofficeCMS/package.json
  BackofficeCMS/scripts/generate-npmrc.js
  scripts/generate-npmrc.cjs
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

wip
  scripts/generate-npmrc.cjs
Due: none

update package.json
  BackofficeCMS/package.json
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

fix: fix yarn not working to install dependencies
  BackofficeCMS/package-lock.json
  BackofficeCMS/package.json
  BackofficeCMS/yarn.lock
  RNMobileApp/README.md
  common/package.json
  scripts/generate-npmrc.cjs
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

fix: yarn.lock
  BackofficeCMS/yarn.lock
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

add id field to some tables
  supabase/migrations/20240711144501_create_subscription_types_benefits_table.sql
  supabase/migrations/20240711150422_create_exercises_trainings_table.sql
  supabase/migrations/20240711150813_create_consumables_meals_table.sql
  supabase/migrations/20240711150941_create_supplement_plans_consumables_table.sql
Due: none

Revert "add id field to some tables"
  supabase/migrations/20240711144501_create_subscription_types_benefits_table.sql
  supabase/migrations/20240711150422_create_exercises_trainings_table.sql
  supabase/migrations/20240711150813_create_consumables_meals_table.sql
  supabase/migrations/20240711150941_create_supplement_plans_consumables_table.sql
Due: none

add id column to junction tables
  supabase/migrations/20250207123936_add_id_fields_to_junction_tables.sql
Due: none

v0.0.4
  common/package.json
Due: none

v0.0.5
  common/package.json
Due: none

v0.0.6
  common/package.json
Due: none

v0.0.7
  common/package.json
Due: none

v0.0.8
  common/package.json
Due: none

v0.0.9
  common/package.json
Due: none

initial ProfileDetailCard
  RNMobileApp/package.json
  RNMobileApp/src/components/ProfileDetailCard/index.tsx
  RNMobileApp/src/screens/Settings/data.ts
  RNMobileApp/src/screens/Settings/types.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add icons
  RNMobileApp/src/assets/icons/bottom-menu/plus.png
  RNMobileApp/src/assets/icons/check.png
  RNMobileApp/src/assets/icons/profile/messages.svg
  RNMobileApp/src/assets/icons/upload.png
  RNMobileApp/src/assets/images/logo.jpg
  RNMobileApp/src/assets/images/logo.png
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

some screens changes
  RNMobileApp/src/components/Button/index.tsx
  RNMobileApp/src/components/CalendarHeader/index.tsx
  RNMobileApp/src/components/Input/PasswordInput/index.tsx
  RNMobileApp/src/components/Input/index.tsx
  RNMobileApp/src/components/Label/index.tsx
  RNMobileApp/src/components/LoginContainer/index.tsx
  RNMobileApp/src/components/Page/index.tsx
  RNMobileApp/src/components/SelectableValueCard/index.tsx
  RNMobileApp/src/screens/Auth/Auth.tsx
  RNMobileApp/src/screens/Home/index.tsx
  RNMobileApp/src/screens/Home/utils.tsx
  RNMobileApp/src/screens/Splash/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

tabs
  RNMobileApp/src/components/TopTabs/index.tsx
  RNMobileApp/src/components/WorkoutCalendar/index.tsx
  RNMobileApp/src/components/index.ts
  RNMobileApp/src/screens/Login/index.tsx
  RNMobileApp/src/screens/MyMeals/index.tsx
  RNMobileApp/src/screens/MyWorkouts/index.tsx
  RNMobileApp/src/screens/Settings/data.ts
  RNMobileApp/src/screens/Settings/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

updates
  RNMobileApp/src/navigation/AppStack/UpdatesStack/index.tsx
  RNMobileApp/src/navigation/AppStack/UpdatesStack/types.ts
  RNMobileApp/src/navigation/AppStack/index.tsx
  RNMobileApp/src/screens/Updates/DailyUpdate/index.tsx
  RNMobileApp/src/screens/Updates/MilestoneUpdate/index.tsx
  RNMobileApp/src/screens/Updates/index.tsx
  RNMobileApp/src/screens/Updates/types.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

feat: update imports and package.json
  BackofficeCMS/.gitignore
  BackofficeCMS/package.json
  BackofficeCMS/src/components/CustomResourceListGuesser/CustomResourceListGuesser.tsx
  BackofficeCMS/src/components/InputForColumn/InputForColumn.tsx
  BackofficeCMS/src/pages/ForgotPasswordForm/ForgotPasswordForm.tsx
  BackofficeCMS/src/pages/UpdatePasswordForm/UpdatePasswordForm.tsx
  BackofficeCMS/src/utils/theme/index.ts
  BackofficeCMS/src/utils/theme/theme.ts
  BackofficeCMS/tsconfig.json
  BackofficeCMS/vite.config.ts
  BackofficeCMS/yarn.lock
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feat: alias configs and update dependencies
  common/.watchmanconfig
  common/tsconfig.json
  common/yarn.lock
Due: none

feat: improvements on backoffice code
  BackofficeCMS/src/App.tsx
  BackofficeCMS/src/contexts/InitProviders/InitProviders.tsx
  BackofficeCMS/src/contexts/InitProviders/index.ts
  BackofficeCMS/src/contexts/TablesContext/TablesContext.ts
  BackofficeCMS/src/contexts/TablesContext/index.ts
  BackofficeCMS/src/contexts/index.ts
  BackofficeCMS/src/hooks/customResources/useCustomResources.ts
  BackofficeCMS/src/hooks/fetchSession/fetchSession.ts
  BackofficeCMS/src/hooks/index.ts
  BackofficeCMS/src/hooks/tablesContext/index.ts
  BackofficeCMS/src/hooks/tablesContext/useTablesContext.ts
  BackofficeCMS/src/utils/database/index.ts
  BackofficeCMS/src/utils/database/supabase.authProvider.ts
  BackofficeCMS/src/utils/database/supabase.dataProvider.ts
  BackofficeCMS/src/utils/database/supabase.instance.ts
  BackofficeCMS/src/utils/supabase.ts
  BackofficeCMS/src/utils/theme/theme.ts
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feat: improve common code regarding supabase
  common/rollup.config.mjs
  common/src/database/index.ts
  common/src/database/supabase.ts
  common/src/index.ts
Due: none

v0.0.10
  common/package.json
Due: none

v0.0.11
  common/package.json
  common/src/database/supabase.ts
Due: none

feat: improvements on common
  common/src/database/supabase.ts
Due: none

feat: remove supabase-js lib, update connection to supabaseClient from RN app and update generate supabase config files in supabase project
  RNMobileApp/App.tsx
  RNMobileApp/__tests__/App.test.tsx
  RNMobileApp/package.json
  RNMobileApp/src/providers/feature-flags.tsx
  RNMobileApp/src/screens/Auth/Auth.tsx
  RNMobileApp/src/screens/CreateAccount/index.tsx
  RNMobileApp/src/screens/CustomPage/CustomPage.tsx
  RNMobileApp/src/screens/LandingPage/index.tsx
  RNMobileApp/src/screens/Login/index.tsx
  RNMobileApp/src/screens/Settings/index.tsx
  RNMobileApp/src/theme/index.ts
  RNMobileApp/src/utils/database/index.ts
  RNMobileApp/src/utils/database/supabase.instance.ts
  RNMobileApp/src/utils/mmkv.ts
  RNMobileApp/src/utils/supabase.ts
  RNMobileApp/yarn.lock
  supabase/package.json
  supabase/scripts/generate-configs.js
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix: fixed ./client issue
  BackofficeCMS/src/App.tsx
  BackofficeCMS/src/vite-env.d.ts
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

Path conditions:
  Backoffice lint and type checks: any of: BackofficeCMS/**
  Mobile app lint, type checks and tests: any of: RNMobileApp/**
  Deployment of Backoffice web app to preview: any of: BackofficeCMS/**
  Deployment of Android App to preview: any of: RNMobileApp/**
  Deployment of IOS App to preview: any of: RNMobileApp/**
  Deployment of Backoffice web app to staging: any of: BackofficeCMS/**
  Deployment of Android App to staging: any of: RNMobileApp/**
  Deployment of IOS App to staging: any of: RNMobileApp/**
  Deployment of Backoffice web app to production: any of: BackofficeCMS/**
  Deployment of Android App to production: any of: RNMobileApp/**
  Deployment of IOS App to production: any of: RNMobileApp/**
