Repository FlawlessPT/yellow-project: changes, and which Bitbucket steps are due for each by the changed paths.
All: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

Path conditions:
  Backoffice lint and type checks: any of: BackofficeCMS/**
  Mobile app lint, type checks and tests: any of: RNMobileApp/**
  Deployment of Backoffice web app to preview: any of: BackofficeCMS/**
  Deployment of Android App to preview: any of: RNMobileApp/**
  Deployment of IOS App to preview: any of: RNMobileApp/**
  Deployment of Backoffice web app to staging: any of: BackofficeCMS/**
  Deployment of Android App to staging: any of: RNMobileApp/**
  Deployment of IOS App to staging: any of: RNMobileApp/**
  Deployment of Backoffice web app to production: any of: BackofficeCMS/**
  Deployment of Android App to production: any of: RNMobileApp/**
  Deployment of IOS App to production: any of: RNMobileApp/**

create MealsSummaryModal and use it in MyMeals screen
  RNMobileApp/src/components/MealCard/index.tsx
  RNMobileApp/src/screens/MyMeals/MealsSummaryModal.tsx
  RNMobileApp/src/screens/MyMeals/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create WorkoutsSummaryModal
  RNMobileApp/src/screens/MyWorkouts/WorkoutsSummaryModal.tsx
  RNMobileApp/src/screens/MyWorkouts/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

update TopTabs component
  RNMobileApp/src/components/TopTabs/index.tsx
  RNMobileApp/src/components/index.ts
  RNMobileApp/src/screens/MyMeals/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

update toptabs
  RNMobileApp/src/components/TopTabs/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

update withHorizontalMargin
  RNMobileApp/src/components/Page/index.tsx
  RNMobileApp/src/screens/Home/index.tsx
  RNMobileApp/src/screens/MyMeals/MealHeader.tsx
  RNMobileApp/src/screens/MyMeals/index.tsx
  RNMobileApp/src/screens/MyWorkouts/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create supplements component
  RNMobileApp/src/screens/MyMeals/Supplements.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add supplements to meals stub
  RNMobileApp/src/screens/MyMeals/stub.json
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add supplements component to MyMeals screen
  RNMobileApp/src/screens/MyMeals/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

refactor MealCard component
  RNMobileApp/src/components/MealCard/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix supplements component
  RNMobileApp/src/screens/MyMeals/Supplements.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add toggle to settings
  RNMobileApp/src/components/ButtonCard/index.tsx
  RNMobileApp/src/components/Switch/index.tsx
  RNMobileApp/src/screens/Settings/data.ts
  RNMobileApp/src/screens/Settings/types.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create RadioButton component
  RNMobileApp/src/components/RadioButton/index.tsx
  RNMobileApp/src/components/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix Page component
  RNMobileApp/src/components/Page/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix Billing component
  RNMobileApp/src/screens/Billing/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

update ChangeLanguage screen
  RNMobileApp/src/screens/ChangeLanguage/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create AboutApp screen
  RNMobileApp/src/screens/AboutApp/aboutapp.json
  RNMobileApp/src/screens/AboutApp/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add AboutApp to navigation
  RNMobileApp/src/navigation/AppStack/SettingsStack/index.tsx
  RNMobileApp/src/navigation/AppStack/SettingsStack/types.ts
  RNMobileApp/src/navigation/types/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add onPress with navigation to AboutApp in settings
  RNMobileApp/src/screens/Settings/data.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add billing to settings stack
  RNMobileApp/src/navigation/AppStack/SettingsStack/index.tsx
  RNMobileApp/src/navigation/AppStack/SettingsStack/types.ts
  RNMobileApp/src/navigation/types/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix billing screen
  RNMobileApp/src/screens/Billing/index.tsx
  RNMobileApp/src/screens/Settings/data.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add arrow to assets
  RNMobileApp/src/assets/icons/arrow/arrow-down.png
  RNMobileApp/src/assets/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add ProfileDetails to SettingsStack
  RNMobileApp/src/navigation/AppStack/SettingsStack/index.tsx
  RNMobileApp/src/navigation/AppStack/SettingsStack/types.ts
  RNMobileApp/src/navigation/types/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix Input component
  RNMobileApp/src/components/Input/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

navigate to ProfileDetails on Settings
  RNMobileApp/src/screens/Settings/data.ts
  RNMobileApp/src/screens/Settings/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create ProfileDetails
  RNMobileApp/src/screens/ProfileDetails/index.tsx
  RNMobileApp/src/screens/ProfileDetails/utils.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

change name
  RNMobileApp/src/screens/Home/index.tsx
  RNMobileApp/src/screens/ProfileDetails/index.tsx
  RNMobileApp/src/screens/Settings/data.ts
  RNMobileApp/src/screens/Settings/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

feat: update project workspace
  mw-mobile-backoffice-recipe.code-workspace
Due: none

feat: wip
  RNMobileApp/.env.dev
  RNMobileApp/.env.stg
  RNMobileApp/android/app/build.gradle
  RNMobileApp/android/app/src/main/res/values/strings.xml
  RNMobileApp/android/settings.gradle
  RNMobileApp/ios/RNMobileApp/Info.plist
  RNMobileApp/package.json
  RNMobileApp/src/screens/Login/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

added migrations
  supabase/migrations/20230904081044_add_supabase_test_helpers.sql
  supabase/migrations/20230904091144_user_auth_management_starter.sql
  supabase/migrations/20240708215946_create_subscription_types_table.sql
  supabase/migrations/20240708220234_create_subscriptions_table.sql
  supabase/migrations/20240708221942_create_subscription_benefits_table.sql
  supabase/migrations/20240711144501_create_subscription_types_benefits_table.sql
  supabase/migrations/20240711145128_create_daily_updates_table.sql
  supabase/migrations/20240711145652_create_updates_table.sql
  supabase/migrations/20240711145847_create_training_plans_table.sql
  supabase/migrations/20240711150143_create_trainings_table.sql
  supabase/migrations/20240711150242_create_exercises_table.sql
  supabase/migrations/20240711150422_create_exercises_trainings_table.sql
  supabase/migrations/20240711150530_create_food_plans_table.sql
  supabase/migrations/20240711150624_create_meals_table.sql
  supabase/migrations/20240711150724_create_consumables_table.sql
  supabase/migrations/20240711150813_create_consumables_meals_table.sql
  supabase/migrations/20240711150901_create_supplement_plans_table.sql
  supabase/migrations/20240711150941_create_supplement_plans_consumables_table.sql
Due: none

added some tests
  supabase/tests/database/profiles.sql
  supabase/tests/database/subscription_types.sql
  supabase/tests/database/subscriptions.sql
Due: none

teste
  supabase/migrations/20240711150941_create_supplement_plans_consumables_table.sql
Due: none

feat: update .nvmrc versions, update .npmrc tokens and bump common version
  .nvmrc
  BackofficeCMS/.npmrc
  BackofficeCMS/package.json
  BackofficeCMS/yarn.lock
  RNMobileApp/.npmrc
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
  common/.npmrc
  common/package.json
  common/yarn.lock
  yellow.code-workspace
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

fix: remove .npmrc file
  BackofficeCMS/.gitignore
  BackofficeCMS/.npmrc
  RNMobileApp/.gitignore
  RNMobileApp/.npmrc
  common/.gitignore
  common/.npmrc
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

feat: re-add npmrc with correct token
  BackofficeCMS/.gitignore
  BackofficeCMS/.npmrc
  BackofficeCMS/package.json
  RNMobileApp/.gitignore
  RNMobileApp/.npmrc
  RNMobileApp/package.json
  common/.gitignore
  common/.npmrc
  common/package.json
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

feat: update github token and fix command
  BackofficeCMS/.npmrc
  RNMobileApp/.npmrc
  RNMobileApp/package.json
  common/.npmrc
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

feat: add .yarnrc
  BackofficeCMS/.yarnrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feat: remove .yarnrc and update .npmrc
  BackofficeCMS/.npmrc
  BackofficeCMS/.yarnrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feat: update .npmrc
  BackofficeCMS/.npmrc
  BackofficeCMS/package-lock.json
  BackofficeCMS/yarn.lock
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feat: update .npmrc
  BackofficeCMS/.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production
