Repository FlawlessPT/yellow-project: changes, and which Bitbucket steps are due for each by the changed paths.
All: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

Path conditions:
  Backoffice lint and type checks: any of: BackofficeCMS/**
  Mobile app lint, type checks and tests: any of: RNMobileApp/**
  Deployment of Backoffice web app to preview: any of: BackofficeCMS/**
  Deployment of Android App to preview: any of: RNMobileApp/**
  Deployment of IOS App to preview: any of: RNMobileApp/**
  Deployment of Backoffice web app to staging: any of: BackofficeCMS/**
  Deployment of Android App to staging: any of: RNMobileApp/**
  Deployment of IOS App to staging: any of: RNMobileApp/**
  Deployment of Backoffice web app to production: any of: BackofficeCMS/**
  Deployment of Android App to production: any of: RNMobileApp/**
  Deployment of IOS App to production: any of: RNMobileApp/**

add dev to loading backoffice message
  BackofficeCMS/src/App.tsx
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

add staging to loading backoffice message
  BackofficeCMS/src/App.tsx
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

add production to loading backoffice message
  BackofficeCMS/src/App.tsx
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

tst
  BackofficeCMS/vite.config.ts
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

remove comment
  BackofficeCMS/vite.config.ts
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

small update
  BackofficeCMS/src/App.tsx
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feature: setup environments on backoffice
  BackofficeCMS/.env.development
  BackofficeCMS/.env.production
  BackofficeCMS/.env.staging
  BackofficeCMS/package.json
  BackofficeCMS/scripts/build.sh
  BackofficeCMS/scripts/run.sh
  BackofficeCMS/src/App.tsx
  BackofficeCMS/src/vite-env.d.ts
  BackofficeCMS/vercel.json
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update vercel.json file
  BackofficeCMS/vercel.json
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update build script
  BackofficeCMS/scripts/build.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update build
  BackofficeCMS/build.sh
  BackofficeCMS/scripts/build.sh
  BackofficeCMS/vercel.json
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update build script
  BackofficeCMS/build.sh
  BackofficeCMS/scripts/build.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update build script
  BackofficeCMS/vercel.json
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

fix birthday page
  RNMobileApp/src/components/Input/index.tsx
  RNMobileApp/src/components/LoginContainer/index.tsx
  RNMobileApp/src/components/Page/index.tsx
  RNMobileApp/src/components/PersonalizationSteps/Age/index.tsx
  RNMobileApp/src/components/PersonalizationSteps/Birthday/index.tsx
  RNMobileApp/src/components/PersonalizationSteps/Diet/index.tsx
  RNMobileApp/src/components/PersonalizationSteps/styles.ts
  RNMobileApp/src/components/PersonalizationSteps/types.ts
  RNMobileApp/src/components/Switch/index.tsx
  RNMobileApp/src/components/index.ts
  RNMobileApp/src/screens/Billing/index.tsx
  RNMobileApp/src/screens/Home/stub.ts
  RNMobileApp/src/screens/Personalization/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

update readme
  BackofficeCMS/README.md
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update build and run scripts
  BackofficeCMS/scripts/build.sh
  BackofficeCMS/scripts/run.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

initial all workouts screen
  RNMobileApp/src/assets/icons/arrow/right-primary.svg
  RNMobileApp/src/assets/icons/play-white.png
  RNMobileApp/src/assets/index.ts
  RNMobileApp/src/components/WorkoutCard/index.tsx
  RNMobileApp/src/components/index.ts
  RNMobileApp/src/navigation/AppStack/SettingsStack/index.tsx
  RNMobileApp/src/navigation/AppStack/SettingsStack/types.ts
  RNMobileApp/src/navigation/AppStack/WorkoutStack/index.tsx
  RNMobileApp/src/navigation/AppStack/WorkoutStack/types.ts
  RNMobileApp/src/navigation/AppStack/index.tsx
  RNMobileApp/src/navigation/AppStack/types.ts
  RNMobileApp/src/screens/AllWorkouts/WorkoutHeader.tsx
  RNMobileApp/src/screens/AllWorkouts/index.tsx
  RNMobileApp/src/screens/AllWorkouts/stub.json
  RNMobileApp/src/screens/Home/index.tsx
  RNMobileApp/src/screens/Home/utils.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

change color in WorkoutCard
  RNMobileApp/src/components/WorkoutCard/index.tsx
  RNMobileApp/src/theme/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create WorkoutCalendar component
  RNMobileApp/src/components/WorkoutCalendar/index.tsx
  RNMobileApp/src/components/index.ts
  RNMobileApp/src/screens/AllWorkouts/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add no workouts container in AllWorkouts screen
  RNMobileApp/src/assets/images/no-workouts.png
  RNMobileApp/src/assets/index.ts
  RNMobileApp/src/components/WorkoutCalendar/index.tsx
  RNMobileApp/src/components/WorkoutCard/index.tsx
  RNMobileApp/src/screens/AllWorkouts/index.tsx
  RNMobileApp/src/theme/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

bump versions
  RNMobileApp/app.json
  RNMobileApp/babel.config.js
  RNMobileApp/ios/Podfile
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
  RNMobileApp/ios/RNMobileApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  RNMobileApp/ios/RNMobileApp/AppDelegate.mm
  RNMobileApp/ios/RNMobileApp/PrivacyInfo.xcprivacy
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add app icon for ios and android
  RNMobileApp/android/app/src/main/assets/fonts/Inter-Black.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-Bold.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-ExtraBold.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-ExtraLight.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-Light.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-Medium.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-Regular.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-SemiBold.ttf
  RNMobileApp/android/app/src/main/assets/fonts/Inter-Thin.ttf
  RNMobileApp/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  RNMobileApp/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  RNMobileApp/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  RNMobileApp/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  RNMobileApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  RNMobileApp/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  RNMobileApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  RNMobileApp/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  RNMobileApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  RNMobileApp/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/1024.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/114.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/120 1.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/180.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/29.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/40.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/57.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/58.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/60.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/80.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/87.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/AppIcon.appiconset/Contents.json
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix app name
  RNMobileApp/android/app/src/main/res/values/strings.xml
  RNMobileApp/app.json
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create launch screen in ios
  RNMobileApp/ios/RNMobileApp/Images.xcassets/logo.imageset/Contents.json
  RNMobileApp/ios/RNMobileApp/Images.xcassets/logo.imageset/image 10.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/logo.imageset/image 10@2x.png
  RNMobileApp/ios/RNMobileApp/Images.xcassets/logo.imageset/image 10@3x.png
  RNMobileApp/ios/RNMobileApp/LaunchScreen.storyboard
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

change app flow to have billing screen before personalization steps
  RNMobileApp/src/navigation/AuthStack/index.tsx
  RNMobileApp/src/screens/Billing/index.tsx
  RNMobileApp/src/screens/Personalization/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix: update some iOS things related with running app
  RNMobileApp/android/app/src/main/java/pt/rainbowapps/gardao/app/MainActivity.java
  RNMobileApp/android/app/src/main/java/pt/rainbowapps/gardao/app/MainApplication.java
  RNMobileApp/app.json
  RNMobileApp/ios/Podfile
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
  RNMobileApp/ios/RNMobileApp.xcodeproj/xcshareddata/xcschemes/RNMobileApp.xcscheme
  RNMobileApp/ios/RNMobileApp/AppDelegate.mm
  RNMobileApp/ios/RNMobileApp/Info.plist
  RNMobileApp/ios/RNMobileAppTests/Info.plist
  RNMobileApp/ios/RNMobileAppTests/RNMobileAppTests.m
  RNMobileApp/package.json
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

wip
  RNMobileApp/.env.dev
  RNMobileApp/.env.example
  RNMobileApp/.env.stg
  RNMobileApp/.gitignore
  RNMobileApp/App.tsx
  RNMobileApp/android/app/build.gradle
  RNMobileApp/android/app/proguard-rules.pro
  RNMobileApp/android/app/release.keystore
  RNMobileApp/android/settings.gradle
  RNMobileApp/package.json
  RNMobileApp/src/providers/loading.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

changed pre-commit-check to only check staged files
  BackofficeCMS/package.json
  BackofficeCMS/yarn.lock
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

added migrations
  supabase/migrations/20240614143036_create_enums.sql
  supabase/migrations/20240708201704_create_users_table.sql
  supabase/migrations/20240708203049_create_user_profiles_table.sql
  supabase/migrations/20240708215946_create_subscription_types_table.sql
  supabase/migrations/20240708220234_create_subscriptions_table.sql
  supabase/migrations/20240708221942_create_subscription_benefits_table.sql
  supabase/migrations/20240711144501_create_subscription_types_benefits_table.sql
  supabase/migrations/20240711145128_create_daily_updates_table.sql
  supabase/migrations/20240711145652_create_updates_table.sql
  supabase/migrations/20240711145847_create_training_plans_table.sql
  supabase/migrations/20240711150143_create_trainings_table.sql
  supabase/migrations/20240711150242_create_exercises_table.sql
  supabase/migrations/20240711150422_create_exercises_trainings_table.sql
  supabase/migrations/20240711150530_create_food_plans_table.sql
  supabase/migrations/20240711150624_create_meals_table.sql
  supabase/migrations/20240711150724_create_consumables_table.sql
  supabase/migrations/20240711150813_create_consumables_meals_table.sql
  supabase/migrations/20240711150901_create_supplement_plans_table.sql
  supabase/migrations/20240711150941_create_supplement_plans_consumables_table.sql
Due: none

fixed some issues on migrations
  supabase/migrations/20240708203049_create_user_profiles_table.sql
  supabase/migrations/20240708220234_create_subscriptions_table.sql
  supabase/migrations/20240711150941_create_supplement_plans_consumables_table.sql
Due: none

fixed numberic type
  BackofficeCMS/src/components/InputForColumn/InputForColumn.tsx
  BackofficeCMS/src/types/database.ts
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

removed users and user_profiles tables to start using the already existing auth.users and profiles tables
  BackofficeCMS/src/utils/supabase.authProvider.ts
  RNMobileApp/src/screens/Settings/index.tsx
  supabase/migrations/20230904091044_create_enums.sql
  supabase/migrations/20230904091144_user_auth_management_starter.sql
  supabase/migrations/20240708201704_create_users_table.sql
  supabase/migrations/20240708203049_create_user_profiles_table.sql
  supabase/migrations/20240708220234_create_subscriptions_table.sql
  supabase/migrations/20240711145128_create_daily_updates_table.sql
  supabase/migrations/20240711145652_create_updates_table.sql
  supabase/migrations/20240711145847_create_training_plans_table.sql
  supabase/migrations/20240711150530_create_food_plans_table.sql
  supabase/migrations/20240711150901_create_supplement_plans_table.sql
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

add withBack optional prop to Billing navigation
  RNMobileApp/src/components/Page/index.tsx
  RNMobileApp/src/components/TutorialCarousel/index.tsx
  RNMobileApp/src/navigation/AuthStack/types.ts
  RNMobileApp/src/navigation/RootStack/index.tsx
  RNMobileApp/src/screens/Billing/index.tsx
  RNMobileApp/src/screens/Settings/data.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

feat: setup shared repo on app and web projects
  BackofficeCMS/.npmrc
  BackofficeCMS/package.json
  BackofficeCMS/yarn.lock
  RNMobileApp/.npmrc
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

update .npmrc
  BackofficeCMS/.npmrc
  BackofficeCMS/package.json
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update .npmrc
  BackofficeCMS/.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production
