Repository FlawlessPT/yellow-project: changes, and which Bitbucket steps are due for each by the changed paths.
All: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

Backoffice lint and type checks:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-backoffice true
  - cd ../BackofficeCMS
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint

Mobile app lint, type checks and tests:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-mobile true
  - cd ../RNMobileApp
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint
  - yarn test

Deployment of Backoffice web app to preview:
  caches:
  - yarn
  - node
  deployment: backoffice-preview
  script:
  - source ./pipelines/executables/setup-backoffice-staging-env.sh
  - export VITE_SENTRY_ENVIRONMENT=preview-$BITBUCKET_BRANCH
  - source ./pipelines/executables/setup-backoffice-build.sh
  ...

Deployment of Android App to preview:
  max-time: 30
  caches:
  - yarn
  - gradle
  - gradle-wrapper
  - bundler
  - node
  deployment: android-preview
  trigger: manual
  image: reactnativecommunity/react-native-android:latest
  size: 2x
  script:
  - source ./pipelines/executables/setup-android-build.sh
  - cd RNMobileApp
  ...

Deployment of IOS App to preview:
  runs-on:
  - self.hosted
  - macos
  deployment: ios-preview
  trigger: manual
  script:
  - export APP_TEST_FLIGHT_CHANGE_LOG='Preview app from branch $BITBUCKET_BRANCH and commit $BITBUCKET_COMMIT, build $BITBUCKET_BUILD_NUMBER'
  - source ./pipelines/executables/setup-ios-build.sh
  - cd RNMobileApp
  ...

Deployment of Backoffice web app to staging:
  caches:
  - yarn
  - node
  deployment: backoffice-staging
  script:
  - source ./pipelines/executables/setup-backoffice-staging-env.sh
  - source ./pipelines/executables/setup-backoffice-build.sh
  - vercel pull --yes --environment=production --token=$VERCEL_TOKEN
  - vercel build --prod --token=$VERCEL_TOKEN
  ...

Deployment of Android App to staging:
  max-time: 30
  caches:
  - yarn
  - gradle
  - gradle-wrapper
  - bundler
  - node
  deployment: android-staging
  image: reactnativecommunity/react-native-android:latest
  size: 2x
  script:
  - source ./pipelines/executables/setup-android-build.sh
  - cd RNMobileApp
  - echo "VERSION_NAME=$BITBUCKET_COMMIT" >> .env
  ...

Deployment of IOS App to staging:
  runs-on:
  - self.hosted
  - macos
  deployment: ios-staging
  script:
  - export APP_TEST_FLIGHT_CHANGE_LOG='Staging app from main and commit $BITBUCKET_COMMIT, build $BITBUCKET_BUILD_NUMBER'
  - source ./pipelines/executables/setup-ios-build.sh
  - cd RNMobileApp
  - echo "SENTRY_ENVIRONMENT=staging" >> .env
  ...

Deployment of Backoffice web app to production:
  caches:
  - yarn
  - node
  deployment: backoffice-production
  trigger: manual
  script:
  - source ./pipelines/executables/setup-backoffice-production-env.sh
  - source ./pipelines/executables/setup-backoffice-build.sh
  - vercel pull --yes --environment=production --token=$VERCEL_TOKEN
  ...

update .npmrc
  BackofficeCMS/.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

remove npmrc
  BackofficeCMS/__npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

add empty .npmrc
  BackofficeCMS/.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

add .npmrc
  BackofficeCMS/.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

add .yarnrc
  BackofficeCMS/.yarnrc
  BackofficeCMS/__npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

create ProgressCard component and use it in home page
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/package.json
  RNMobileApp/src/components/Progress/index.tsx
  RNMobileApp/src/components/ProgressBar/index.tsx
  RNMobileApp/src/components/ProgressCard/index.tsx
  RNMobileApp/src/components/index.ts
  RNMobileApp/src/screens/Home/index.tsx
  RNMobileApp/yarn.lock
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix workout header design
  RNMobileApp/src/navigation/types/index.ts
  RNMobileApp/src/screens/AllWorkouts/WorkoutHeader.tsx
  RNMobileApp/src/theme/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add onPress to homepage see all button
  RNMobileApp/src/screens/Home/index.tsx
  RNMobileApp/src/screens/Home/utils.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

change AllWorkouts to MyWorkouts
  RNMobileApp/src/navigation/AppStack/WorkoutStack/index.tsx
  RNMobileApp/src/navigation/AppStack/WorkoutStack/types.ts
  RNMobileApp/src/screens/MyWorkouts/WorkoutHeader.tsx
  RNMobileApp/src/screens/MyWorkouts/index.tsx
  RNMobileApp/src/screens/MyWorkouts/stub.json
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix workout calendar
  RNMobileApp/src/components/WorkoutCalendar/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix WorkoutCard component
  RNMobileApp/src/components/WorkoutCard/index.tsx
  RNMobileApp/src/screens/MyWorkouts/stub.json
  RNMobileApp/src/theme/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add info circle in my workouts header
  RNMobileApp/src/assets/icons/info-circle.png
  RNMobileApp/src/assets/index.ts
  RNMobileApp/src/screens/MyWorkouts/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

update .npmrc
  BackofficeCMS/.npmrc
  BackofficeCMS/.yarnrc
  BackofficeCMS/scripts/build.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update .npmrc
  BackofficeCMS/.npmrc
  BackofficeCMS/__.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

test .npmrc
  BackofficeCMS/.npmrc
  BackofficeCMS/_.npmrc
  BackofficeCMS/__.npmrc
  BackofficeCMS/scripts/build.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

update build.sh
  BackofficeCMS/scripts/build.sh
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

finish changes on backoffice .npmrc
  BackofficeCMS/.npmrc
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging, Deployment of Backoffice web app to production

feat: finished setup of common repo in both app and backoffice
  BackofficeCMS/.npmrc
  BackofficeCMS/_.npmrc
  BackofficeCMS/package.json
  BackofficeCMS/yarn.lock
  RNMobileApp/.npmrc
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

rename-packages of app and bo
  BackofficeCMS/package.json
  RNMobileApp/package.json
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

feat: setup common on yellow-project
  .nvmrc
  common/.eslintignore
  common/.eslintrc.js
  common/.github/workflows/github-actions-demo.yml
  common/.gitignore
  common/.husky/pre-commit
  common/.npmrc
  common/.prettierrc.js
  common/.watchmanconfig
  common/README.md
  common/package.json
  common/rollup.config.mjs
  common/src/index.ts
  common/tsconfig.json
  common/yarn.lock
  mw-mobile-backoffice-recipe.code-workspace
Due: none

feat: update shared readme
  common/README.md
Due: none

update common package hash on both app and bo
  BackofficeCMS/yarn.lock
  RNMobileApp/yarn.lock
Due: Backoffice lint and type checks, Mobile app lint, type checks and tests, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Backoffice web app to production, Deployment of Android App to production, Deployment of IOS App to production

update common readme
  common/README.md
Due: none

v0.0.2
  common/package.json
Due: none

add modal
  RNMobileApp/src/assets/icons/close.png
  RNMobileApp/src/assets/index.ts
  RNMobileApp/src/screens/MyWorkouts/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add size10 to TypographyType from Label
  RNMobileApp/src/components/Label/types.ts
  RNMobileApp/src/components/Label/utils.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create MealCard component
  RNMobileApp/src/components/MealCard/index.tsx
  RNMobileApp/src/components/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create MyMeals screen
  RNMobileApp/src/screens/MyMeals/MealHeader.tsx
  RNMobileApp/src/screens/MyMeals/index.tsx
  RNMobileApp/src/screens/MyMeals/stub.json
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create MEAL_STACK
  RNMobileApp/src/navigation/AppStack/MealStack/index.tsx
  RNMobileApp/src/navigation/AppStack/MealStack/types.ts
  RNMobileApp/src/navigation/AppStack/index.tsx
  RNMobileApp/src/navigation/AppStack/types.ts
  RNMobileApp/src/navigation/types/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix my meals navigation in homepage
  RNMobileApp/src/screens/Home/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

fix meals stub
  RNMobileApp/src/screens/MyMeals/stub.json
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create MealCard component
  RNMobileApp/src/components/MealCard/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create Tab component
  RNMobileApp/src/components/Tab/index.tsx
  RNMobileApp/src/components/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

create TabEnum
  RNMobileApp/src/components/Tab/index.tsx
  RNMobileApp/src/types/Tab.ts
  RNMobileApp/src/types/index.ts
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add Tab component to meals screen
  RNMobileApp/src/screens/MyMeals/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

quick updates to android
  RNMobileApp/android/app/build.gradle
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

feat: bump RN version, remove expo, setup environments on iOS side
  RNMobileApp/.env
  RNMobileApp/.gitignore
  RNMobileApp/.nvmrc
  RNMobileApp/App.tsx
  RNMobileApp/Gemfile
  RNMobileApp/__tests__/App.test.tsx
  RNMobileApp/android/app/build.gradle
  RNMobileApp/android/app/src/debug/AndroidManifest.xml
  RNMobileApp/android/app/src/main/java/pt/rainbowapps/gardao/app/MainActivity.java
  RNMobileApp/android/app/src/main/java/pt/rainbowapps/gardao/app/MainActivity.kt
  RNMobileApp/android/app/src/main/java/pt/rainbowapps/gardao/app/MainApplication.java
  RNMobileApp/android/app/src/main/java/pt/rainbowapps/gardao/app/MainApplication.kt
  RNMobileApp/android/app/src/main/res/drawable/rn_edit_text_material.xml
  RNMobileApp/android/build.gradle
  RNMobileApp/android/gradle.properties
  RNMobileApp/android/gradle/wrapper/gradle-wrapper.properties
  RNMobileApp/android/gradlew
  RNMobileApp/android/gradlew.bat
  RNMobileApp/app.json
  RNMobileApp/ios/Podfile
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
  RNMobileApp/ios/RNMobileApp.xcodeproj/xcshareddata/xcschemes/DEV.xcscheme
  RNMobileApp/ios/RNMobileApp.xcodeproj/xcshareddata/xcschemes/OneSignalNotificationServiceExtension.xcscheme
  RNMobileApp/ios/RNMobileApp.xcodeproj/xcshareddata/xcschemes/PROD.xcscheme
  RNMobileApp/ios/RNMobileApp.xcodeproj/xcshareddata/xcschemes/STG.xcscheme
  RNMobileApp/ios/RNMobileApp.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  RNMobileApp/ios/RNMobileApp/AppDelegate.h
  RNMobileApp/ios/RNMobileApp/AppDelegate.mm
  RNMobileApp/ios/RNMobileApp/Info.plist
  RNMobileApp/ios/RNMobileApp/PrivacyInfo.xcprivacy
  RNMobileApp/jest.setup.js
  RNMobileApp/metro.config.js
  RNMobileApp/package.json
  RNMobileApp/src/screens/Auth/Auth.tsx
  RNMobileApp/src/screens/LandingPage/index.tsx
  RNMobileApp/src/screens/Login/index.tsx
  RNMobileApp/src/utils/supabase.ts
  RNMobileApp/yarn.lock
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

update .nvmrc to 20.16.0
  .nvmrc
Due: none

add TouchableOpacityProps to ButtonProps
  RNMobileApp/src/components/Button/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

add activeOpacity to 1 in Tab component
  RNMobileApp/src/components/Tab/index.tsx
Due: Mobile app lint, type checks and tests, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging, Deployment of Android App to production, Deployment of IOS App to production

Path conditions:
  Backoffice lint and type checks: any of: BackofficeCMS/**
  Mobile app lint, type checks and tests: any of: RNMobileApp/**
  Deployment of Backoffice web app to preview: any of: BackofficeCMS/**
  Deployment of Android App to preview: any of: RNMobileApp/**
  Deployment of IOS App to preview: any of: RNMobileApp/**
  Deployment of Backoffice web app to staging: any of: BackofficeCMS/**
  Deployment of Android App to staging: any of: RNMobileApp/**
  Deployment of IOS App to staging: any of: RNMobileApp/**
  Deployment of Backoffice web app to production: any of: BackofficeCMS/**
  Deployment of Android App to production: any of: RNMobileApp/**
  Deployment of IOS App to production: any of: RNMobileApp/**
