Repository FlawlessPT/yellow-project: changes, and which Bitbucket steps are due for each by the changed paths.
All: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging

Backoffice lint and type checks:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-backoffice true
  - cd ../BackofficeCMS
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint

Mobile app lint and type checks:
  caches:
  - yarn
  script:
  - cd supabase
  - yarn install --frozen-lockfile
  - yarn supabase-configs-mobile true
  - cd ../RNMobileApp
  - yarn install --frozen-lockfile
  - yarn type-check
  - yarn lint

Deployment of Backoffice web app to preview:
  caches:
  - yarn
  - node
  deployment: backoffice-staging
  script:
  - export SUPABASE_DB_PASSWORD=$SUPABASE_DB_PASSWORD_STAGING
  - export SUPABASE_URL=$SUPABASE_PROJECT_URL_STAGING
  - export SUPABASE_API_KEY=$SUPABASE_API_KEY_STAGING
  - export VITE_SENTRY_DSN=$SENTRY_DSN_BACKOFFICE
  ...

Deployment of Android App to preview:
  max-time: 30
  caches:
  - yarn
  - gradle
  - gradle-wrapper
  - bundler
  - node
  deployment: android-preview
  trigger: manual
  image: reactnativecommunity/react-native-android:latest
  size: 2x
  script:
  - export SUPABASE_URL=$SUPABASE_PROJECT_URL_STAGING
  - export SUPABASE_API_KEY=$SUPABASE_API_KEY_STAGING
  ...

Deployment of IOS App to preview:
  runs-on:
  - self.hosted
  - macos
  deployment: ios-preview
  trigger: manual
  script:
  - export APP_TEST_FLIGHT_CHANGE_LOG='Preview app from branch $BITBUCKET_BRANCH and commit $BITBUCKET_COMMIT, build $BITBUCKET_BUILD_NUMBER'
  - export SUPABASE_DB_PASSWORD=$SUPABASE_DB_PASSWORD_STAGING
  ...

Deployment of Backoffice web app to staging:
  caches:
  - yarn
  - node
  deployment: backoffice-staging
  script:
  - export SUPABASE_URL=$SUPABASE_PROJECT_URL_STAGING
  - export SUPABASE_API_KEY=$SUPABASE_API_KEY_STAGING
  - export VITE_SENTRY_DSN=$SENTRY_DSN_BACKOFFICE
  - export VITE_SUPABASE_PROJECT_URL=$SUPABASE_PROJECT_URL_STAGING
  ...

Deployment of Android App to staging:
  max-time: 30
  caches:
  - yarn
  - gradle
  - gradle-wrapper
  - bundler
  - node
  deployment: android-staging
  image: reactnativecommunity/react-native-android:latest
  size: 2x
  script:
  - export SUPABASE_URL=$SUPABASE_PROJECT_URL_STAGING
  - export SUPABASE_API_KEY=$SUPABASE_API_KEY_STAGING
  ...

Deployment of IOS App to staging:
  runs-on:
  - self.hosted
  - macos
  deployment: ios-staging
  script:
  - export APP_TEST_FLIGHT_CHANGE_LOG='Staging app from main and commit $BITBUCKET_COMMIT, build $BITBUCKET_BUILD_NUMBER'
  - export SUPABASE_DB_PASSWORD=$SUPABASE_DB_PASSWORD_STAGING
  - export SUPABASE_URL=$SUPABASE_PROJECT_URL_STAGING
  ...

To debug mobile deploy on pipelines, for main branch
  RNMobileApp/App.tsx
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Fix pipelines
  bitbucket-pipelines.yml
Due: none

Removing automatic sign ios xcode
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Adding production pipelines for apps (Idea mode yet)
  bitbucket-pipelines.yml
  pipelines/executables/android-build-and-deploy.sh
  pipelines/executables/ios-build-and-deploy.sh
  pipelines/executables/setup-backoffice-build.sh
  pipelines/executables/setup-backoffice-production-env.sh
  pipelines/executables/setup-backoffice-staging-env.sh
  pipelines/executables/setup-mobile-app-for-build.sh
  pipelines/executables/setup-mobile-app-production-env.sh
  pipelines/executables/setup-mobile-app-staging-env.sh
Due: none

Chaning preview triggers pipelines
  bitbucket-pipelines.yml
Due: none

Merged in removing-env-specific-vars-from-repository-level (pull request #27)
  bitbucket-pipelines.yml
  pipelines/executables/setup-backoffice-production-env.sh
  pipelines/executables/setup-backoffice-staging-env.sh
  pipelines/executables/setup-mobile-app-production-env.sh
  pipelines/executables/setup-mobile-app-staging-env.sh
Due: none

Merged in deployment-steps-parallel (pull request #28)
  BackofficeCMS/src/App.tsx
  RNMobileApp/App.tsx
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging

parallel deployment steps
  bitbucket-pipelines.yml
Due: none

Merged in push-notifications (pull request #19)
  README.md
  RNMobileApp/.env.example
  RNMobileApp/App.tsx
  RNMobileApp/android/app/build.gradle
  RNMobileApp/fastlane/Fastfile
  RNMobileApp/ios/OneSignalNotificationServiceExtension/Info.plist
  RNMobileApp/ios/OneSignalNotificationServiceExtension/NotificationService.swift
  RNMobileApp/ios/Podfile
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp.xcodeproj/project.pbxproj
  RNMobileApp/ios/RNMobileApp/Info.plist
  RNMobileApp/package.json
  RNMobileApp/yarn.lock
  pipelines/executables/setup-android-build.sh
  pipelines/executables/setup-ios-build.sh
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Merged in pipelines-readme (pull request #29)
  BackofficeCMS/src/App.tsx
  README.md
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Merged in backoffice-preview (pull request #30)
  BackofficeCMS/src/App.tsx
  README.md
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Fix backoffice-staging deploy
  bitbucket-pipelines.yml
Due: none

Fix backoffice-staging deploy
  BackofficeCMS/src/App.tsx
Due: Backoffice lint and type checks, Deployment of Backoffice web app to preview, Deployment of Backoffice web app to staging

Merged in review (pull request #31)
  RNMobileApp/ios/Podfile.lock
  RNMobileApp/ios/RNMobileApp/Info.plist
  RNMobileApp/package.json
  RNMobileApp/screens/Auth/Auth.tsx
  RNMobileApp/yarn.lock
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

README update: pipelines and others
  README.md
Due: none

Merged in deploy_internal_play_store (pull request #21)
  README.md
  RNMobileApp/fastlane/Fastfile
  RNMobileApp/fastlane/README.md
  pipelines/executables/android-build-and-deploy.sh
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Merged in jest-test-rnmobileapp (pull request #32)
  RNMobileApp/__tests__/App.test.tsx
  RNMobileApp/jest.config.js
  RNMobileApp/jest.setup.js
  bitbucket-pipelines.yml
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Add information about mw-framework-cli tool
  README.md
  RNMobileApp/.env.example
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

add tutorial carousel.
  RNMobileApp/App.tsx
  RNMobileApp/assets/icons/arrow/ic-arrow.png
  RNMobileApp/assets/icons/arrow/ic-arrow@2x.png
  RNMobileApp/assets/icons/arrow/ic-arrow@3x.png
  RNMobileApp/assets/mobiweb-logo.png
  RNMobileApp/babel.config.js
  RNMobileApp/components/TutorialCarousel/Pagination/index.tsx
  RNMobileApp/components/TutorialCarousel/index.tsx
  RNMobileApp/package.json
  RNMobileApp/screens/Auth/Auth.tsx
  RNMobileApp/screens/Tutorial/Tutorial.tsx
  RNMobileApp/screens/Tutorial/index.ts
  RNMobileApp/types/navigation.ts
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

update yarn.lock file
  RNMobileApp/yarn.lock
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

add podfile.lock
  RNMobileApp/components/TutorialCarousel/index.tsx
  RNMobileApp/ios/Podfile.lock
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Forcing pipelines for both applications
  BackofficeCMS/src/App.tsx
  RNMobileApp/App.tsx
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging

Removing condition for supabase-production
  BackofficeCMS/src/App.tsx
  RNMobileApp/App.tsx
  bitbucket-pipelines.yml
Due: Backoffice lint and type checks, Mobile app lint and type checks, Deployment of Backoffice web app to preview, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Backoffice web app to staging, Deployment of Android App to staging, Deployment of IOS App to staging

Automate ios build
  README.md
  pipelines/executables/setup-ios-build.sh
Due: none

Android draft
  RNMobileApp/fastlane/Fastfile
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Update README
  README.md
Due: none

Trying to fix issue that happens some times for build number repeated on test flight
  RNMobileApp/fastlane/Fastfile
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

Trying to fix TestFlight build number
  RNMobileApp/fastlane/Fastfile
Due: Mobile app lint and type checks, Deployment of Android App to preview, Deployment of IOS App to preview, Deployment of Android App to staging, Deployment of IOS App to staging

update readme.md with android instructions.
  README.md
Due: none

Fixing spelling mistake
  README.md
  supabase/scripts/generate-configs.js
Due: none

Fix: sentry environment for ios releases
  bitbucket-pipelines.yml
Due: none

README.md edited online with Bitbucket
  README.md
Due: none

Path conditions:
  Backoffice lint and type checks: any of: BackofficeCMS/**
  Mobile app lint and type checks: any of: RNMobileApp/**
  Deployment of Backoffice web app to preview: any of: BackofficeCMS/**
  Deployment of Android App to preview: any of: RNMobileApp/**
  Deployment of IOS App to preview: any of: RNMobileApp/**
  Deployment of Backoffice web app to staging: any of: BackofficeCMS/**
  Deployment of Android App to staging: any of: RNMobileApp/**
  Deployment of IOS App to staging: any of: RNMobileApp/**
